<ion-view title="Account Info" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="accountInfo-list2">
      <ion-item class="item-avatar" id="accountInfo-list-item1">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <ion-list id="accountInfo-list3">
      <ion-item class="item-icon-left assertive" id="accountInfo-list-item5">
        <i class="icon ion-log-out"></i>Log-out</ion-item>
      <ion-item class="item-icon-left positive" id="accountInfo-list-item6" ui-sref="tabsController.registeredEvent()">
        <i class="icon ion-document-text"></i>My Registered Event</ion-item>
    </ion-list>
  </ion-content>
</ion-view>