<ion-view title="Highlight Events" id="page2">
  <ion-content padding="true" class="has-header">
    <a class="list card" ng-repeat="item in items" style="display:block;text-decoration:none;" ui-sref="tabsController.eventDetails( {id: item.id} )" id="Highlight-card21">
      <div style="margin: 0px; line-height: 0px; background-color: rgb(232, 235, 239); text-align: center;">
        <img ng-src="{{item.imgURL}}" style="width:50%; height:50%" />
        <!-- <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i> -->
      </div>
      <div class="item item-body" id="HighlightItems-list-item-container2">
        <div id="HighlightItems-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            {{item.name}}
          </p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>
