<ion-view title="Registered Event" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="registeredEvent-list7">
      <ion-item class="item-thumbnail-left" id="registeredEvent-list-item26">
        <h2>Item 1</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="registeredEvent-list-item27">
        <h2>Item 2</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="registeredEvent-list-item28">
        <h2>Item 3</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>