<ion-view title="Search By Department" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchByDepartment-list4">
      <ion-item class="item-icon-right dark" id="searchByDepartment-list-item8" ui-sref="tabsController.departmentEvents()">HKBU A
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByDepartment-list-item9" ui-sref="tabsController.departmentEvents()">HKBU B
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByDepartment-list-item10" ui-sref="tabsController.departmentEvents()">HKBU C
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByDepartment-list-item11" ui-sref="tabsController.departmentEvents()">HKBU D
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>