<ion-view title="Search By Venue" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="searchByVenue-list5">
      <ion-item class="item-icon-right dark" id="searchByVenue-list-item12" ui-sref="tabsController.venueEvents()">AAB
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByVenue-list-item13" ui-sref="tabsController.venueEvents()">A.C.Hall
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByVenue-list-item14" ui-sref="tabsController.venueEvents()">Hall
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
      <ion-item class="item-icon-right dark" id="searchByVenue-list-item15" ui-sref="tabsController.venueEvents()">Courtyard
        <i class="icon ion-ios-arrow-thin-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>